.playerBlock {
    margin-bottom: 3vh;
    font-size: 2vh;
    text-shadow: 0px 1px 0px rgb(180, 180, 180);
}

.choosingBlock {
    margin-top: 3vh;
    font-size: 2vh;
    text-shadow: 0px 1px 0px rgb(180, 180, 180);
}

.counter {
    margin-bottom: 1vh;
    font-size: 3vh;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgb(180, 180, 180);
}

.matchBox {
    position: relative;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 9vh;
    text-shadow: 0px 0.5px 3px black;
    width: 101vh;
    height: 13vh;
    background-color: rgb(49, 46, 46);
    border: solid rgb(120, 22, 22) 3px;
    z-index: 5;
}

.insideMatchBox {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100vh;
    background-color: rgb(197, 197, 197);
    box-shadow: 0px 0.5px 3px;
    animation: appear 3s forwards;
    z-index: 1;
}

@keyframes appear {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

.playerButton {
    height: 3.2vh;
    width: 10vh;
    color: white;
    font-size: 2vh;
    margin: 0.5vh;
    border: none;
    border-radius: 12px;
    background-color: rgb(49, 46, 46);
}

.playerButton:hover {
    color: grey;
    background-color: rgb(21, 19, 19);
}